    * {
        box-sizing: border-box;
    }
    /*For the whole body START*/
    
    body {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: #2aabe4;
    }
    /*For the whole body END*/
    /*Navigation Bar START*/
    
    #header-nav {
        background-color: #33393d;
        border-radius: 0px;
    }
    
    .navbar-brand p {
        font-size: 2.0em;
        color: white;
    }
    
    #list {
        text-align: center;
        padding: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        color: white;
        font-size: 20px;
    }
    
    #list a:hover {
        background-color: #ffcd24;
        color: black;
    }
    
    #header-nav {
        color: #2aabe4;
    }
    
    .navbar-brand>p:hover {
        color: #ffcd24;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    .navbar-header button.navbar-toggle:hover {
        background-color: #ffcd24;
    }
    
    #main-content .navbar-header button.navbar-toggle,
    .navbar-header .icon-bar {
        border: 1px solid #2aabe4;
    }
    
    #main-content .navbar-header button.navbar-toggle,
    .navbar-header .icon-bar {
        border: 1px solid white;
    }
    
    #styling1 {
        margin-top: 0px;
    }
    
    #styling3 {
        margin-bottom: 0px;
    }
    /*Navigation bar END*/
    /*Main Content START*/
    
    section p {
        text-align: left;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 16px;
        padding: auto 5px auto 5px;
        margin: 5px;
    }
    
    h2 {
        color: white;
    }
    
    h2:hover {
        color: #ffcd24;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h3:hover {
        color: #2aabe4;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
    }
    
    #main-content {
        width: 100%;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 35px;
    }
    
    #First,
    #Second,
    #Third {
        background-color: #ffcd24;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    /*Main Content END*/
    /*For the whole body START*/